section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-width: 100px;
}
.menu ul li {
    display: inline;
}

header {
    padding: 20px 0;
}

.logo , .menu {
    display: inline-block;
}

.menu ul li a {
    color: #dc0100;
    text-decoration: none;
}

.menu ul li a{
    display: inline;
    padding: 0 25px;
    font-size: 25px;
}

.menu {
    position: relative;
    bottom: 40px;
}

.menu ul li a:hover {
    color: #000;
    border-bottom: 3px solid #000;
    padding-bottom: 25px;

}

.slide {
    background-image: url(/img/fundo-de-velocidade-rapida-de-tecnologia-movel-digital_1017-25462.jpg);
    height: 450px;
    width: 100%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item {
    display: inline-block;
    width: 30%;
    margin: 0.5%;
    border: 1px solid #c1bcbc;
}

.item img {
    width: 98%;
    padding: 1%;
}

.item .titulo, .item .preco {
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}

.btn {
    background-color: #461b1b;
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}
.item a {
    text-decoration: none;
}

footer {
    background-color: #461b1b;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 40px;
}

footer label, footer input, footer textarea {
    width: 100%;
    margin: 10px;
}
footer form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.whats {
    background-color: green;
    color: #fff;
    position: fixed; /* deixa fixo na tela do usuario para onde ele vai ela vai estar la */
    bottom: 0; /* serve para deixar o "item" la em baixo */
    right: 150px; /* serve para mandar ele para o lado direito e ter uma distancia da tela */
    padding: 20px
}

.sobre {
    font-size: 22px;
    line-height: 22px; 
}

.sobre p,.sobre img {
    display: inline-block;
    width: 45%;
    padding: 1%;
}

.sobre h1 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #461b1b;
    margin: 0 40%;
}

.sobre p {
    float: left;
    text-align: justify;
}

.sobre img {
    border-radius: 50px;
}
